* {
    box-sizing: border-box;
  }
  
  ul {
    padding-inline-start: 20px;
    
  }

  .center {
    width: 100%;
    border: 3px solid #b09f79;
    padding: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    vertical-align: middle;
    font-family: verdana;
    background-color: lightblue;
    margin: 20px;
    padding: -10px;
    width: 25%;
    transform: translate(50%, 0%);
  }
  
  html {
    --s: 10px; /* control the size */
    
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074;
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }