* {
    box-sizing: border-box;
  }
  
  ul {
    padding-inline-start: 20px;
    
  }

  .left  { 
    text-align: left;
    float: left;
    width: 30%;
 }

  .right { 
    text-align: left;
    padding-left: 10%;
    float: left;
    width: 70%;
}

 .fleksi {
    display: flex;
    gap: 15px;
    
 }

  .center {
    border: 3px solid #b09f79;
    padding: 15px;
    background-color: lightblue;
    width: 100%;
    flex: auto;
    flex-direction: column;
 }

 .generateButton {
    width: 70%;
    height: 30px;
    transform: translate(20%);
 }

 .ages {
    width: 100%;
 }

 .alignment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
    width: 1250px;
 }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    vertical-align: middle;
    font-family: verdana;
    
    margin: 20px;
    padding: -10px;
    width: 25%;
    transform: translate(50%, 0%);
  }
  
  html {
    --s: 10px; /* control the size */
    
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074;
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }